<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Owner_Login_Checker</servlet-name>
        <servlet-class>controller.Owner_Login_Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Owner_Registration_Checker</servlet-name>
        <servlet-class>controller.Owner_Registration_Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Owner_Data_Update_Checker</servlet-name>
        <servlet-class>controller.Owner_Data_Update_Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hostel_Registration_Checker</servlet-name>
        <servlet-class>controller.Hostel_Registration_Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hostel_Name_Getter</servlet-name>
        <servlet-class>controller.Hostel_Name_Getter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hostel_Update_Checker</servlet-name>
        <servlet-class>controller.Hostel_Update_Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hostel_Deletion_Confirm</servlet-name>
        <servlet-class>controller.Hostel_Deletion_Confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Login_Check</servlet-name>
        <servlet-class>controller.Admin_Login_Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Hostel_Name_Getter</servlet-name>
        <servlet-class>controller.Admin_Hostel_Name_Getter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Hostel_Status</servlet-name>
        <servlet-class>controller.Admin_Hostel_Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Hostel_Delete_Confirm</servlet-name>
        <servlet-class>controller.Admin_Hostel_Delete_Confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Invalidate_Hostel</servlet-name>
        <servlet-class>controller.Admin_Invalidate_Hostel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Owner_Profile_Deletion_Checker</servlet-name>
        <servlet-class>controller.Owner_Profile_Deletion_Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home_Page_Pincode_Checker</servlet-name>
        <servlet-class>controller.Home_Page_Pincode_Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Owner_Data_Updation</servlet-name>
        <servlet-class>controller.Owner_Data_Updation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Get_Owner_Details</servlet-name>
        <servlet-class>controller.Admin_Get_Owner_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Hostel_Details</servlet-name>
        <servlet-class>controller.User_Hostel_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Hostel_Requirement_Checker</servlet-name>
        <servlet-class>controller.User_Hostel_Requirement_Checker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Owner_Login_Checker</servlet-name>
        <url-pattern>/Owner_Login_Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Owner_Registration_Checker</servlet-name>
        <url-pattern>/Owner_Registration_Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Owner_Data_Update_Checker</servlet-name>
        <url-pattern>/Owner_Data_Update_Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hostel_Registration_Checker</servlet-name>
        <url-pattern>/Hostel_Registration_Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hostel_Name_Getter</servlet-name>
        <url-pattern>/Hostel_Name_Getter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hostel_Update_Checker</servlet-name>
        <url-pattern>/Hostel_Update_Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hostel_Deletion_Confirm</servlet-name>
        <url-pattern>/Hostel_Deletion_Confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Login_Check</servlet-name>
        <url-pattern>/Admin_Login_Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Hostel_Name_Getter</servlet-name>
        <url-pattern>/Admin_Hostel_Name_Getter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Hostel_Status</servlet-name>
        <url-pattern>/Admin_Hostel_Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Hostel_Delete_Confirm</servlet-name>
        <url-pattern>/Admin_Hostel_Delete_Confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Invalidate_Hostel</servlet-name>
        <url-pattern>/Admin_Invalidate_Hostel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Owner_Profile_Deletion_Checker</servlet-name>
        <url-pattern>/Owner_Profile_Deletion_Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home_Page_Pincode_Checker</servlet-name>
        <url-pattern>/Home_Page_Pincode_Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Owner_Data_Updation</servlet-name>
        <url-pattern>/Owner_Data_Updation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Get_Owner_Details</servlet-name>
        <url-pattern>/Admin_Get_Owner_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Hostel_Details</servlet-name>
        <url-pattern>/User_Hostel_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Hostel_Requirement_Checker</servlet-name>
        <url-pattern>/User_Hostel_Requirement_Checker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
